<div class="track__container">
  <p>
    <label for="track-name">Track Name</label>
    <input id="track-name" type="text" value={{patch.name}} oninput={{action (mut patch.name) value="target.value"}}>
  </p>
  <p>
    <label for="artist-name">Artist Name</label>
    <input id="artist-name" type="text" value={{patch.artist.name}} oninput={{action (mut patch.artist.name) value="target.value"}}>
  </p>
  {{#if patch.hasChanges}}
    <p>
      <details>
        <summary>
          <button>
            Save {{patch.changedKeys.length}} change{{unless (eq patch.changedKeys.length 1) "s"}}
          </button>
        </summary>
        <dl>
          {{#each-in patch.values as |key value|}}
            <dt>{{key}}:</dt>
            <dd>“{{get model key}}” → “{{value}}”</dd>
          {{/each-in}}
        </dl>
      </details>
    </p>
  {{/if}}
  <article class="track__article">
    <img src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'></svg>" class="track__prop">
    <div class="track__artwork">
      <img src={{patch.artwork}} class="track__artwork__img">
    </div>
    <div class="track__text">
      <h1 class="track__h1">{{patch.name}}</h1>
      <h2 class="track__h2"><small class="track__text__prefix">by</small> {{patch.artist.name}}</h2>
    </div>
  </article>
</div>
